<section class="row">
    <div class="col-md-12">
       <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
               <a href="/" class="navbar-brand">Soko <b class="text-success">Garden</b></a>
               <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
              </button>

               <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                         <a href="/" class="nav-item nav-link">Home</a>
                         <a href="/" class="nav-item nav-link">Blog</a>
                         <a href="/" class="nav-item nav-link">About US</a>
                         <a href="/upload" class="navbar-item nav-link">UPLOADS</a>
                    </div>
                   <div class="ms-auto navbar-nav">
                    <!--To Do Logout-->

                    {% if session['key'] %}
                    <p>User {{session['key']}} logged in</p>
                    <a href="/logout" class="nav-item nav-link">Log Out</a>
                {% else %}
                    <a href="/signup" class="nav-item nav-link">sign up</a>
                    <a href="/login" class="nav-item nav-link">login</a>
                {% endif %}
               </div>
                   </div>

               </div>
       </nav>
    </div>
</section>