<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
       <!--  CSS Supporting Files  -->
       <link href='/static/css/bootstrap.min.css' rel="nofollow">
       <link rel="stylesheets" href='/static/css/lightslider.css'>
       <link rel="stylesheets" href='/static/css/style.css'>
       <link rel="stylesheet" href='/static/css/bootstrap.css'>
       <!--  JS  Supporting Files    -->
       <script src="/static/js/bootstrap.bundle.min.js"></script>
       <script src="/static/js/jquery.js"></script>
       <script src="/static/js/lightslider.js"></script>
       <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
    </div>
    <div class="row" style="padding-right: 5dp;">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-ligth">
                <h2><a href="/" class="navbar-brand title">Lakeview</a></h2>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/"class="nav-link active">Home</a>
                        <a href="Lake.html" class="nav-link">Lake</a>
                        <a href="Ponds.html" class="nav-link">Ponds</a>
                        <a href="Fish.html" class="nav-link">Fish</a>
                        <a href="Hotels.html" class="nav-link">Hotels</a>
                    </div>
                    <div class="mine">
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#mymodal">Login here</button>
                    </div>

                </div>

            </nav>

        </div>

        <br><br>
        <section class="row">
            <div class="col-md-7 mx-auto">
                <div class="card shadow p-2">
                    <div class="card-body">
                        <h3>Create An Account</h3>
                        <span style="color: green;">{{success}}</span>
                        <form action="/singup" method="POST">
                            <input type="text" name="username" placeholder="Your Username" class="form-control"> <br>
                            <input type="email" name="email" placeholder="Your Email" class="form-control"><br>
                            <input type="tel" name="phone" placeholder="Your Phone: +254700000000" class="form-control"><br>
                            <input type="password" name="password1" placeholder="Your Password" class="form-control"> <br>
                            <span style="color: red;">{{error}}</span>
                            <input type="password" name="password2" placeholder="Confirm Password" class="form-control"><br>
                            <span style="color: red;">{{error1}}</span>

                            <input type="submit" class="btn btn-info" value="Sign Up">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br><br>
    <section class="row bg-dark p-5">
        <div class="col-md-4">
            <h3 class="text-light">About Us</h3>
            <p class="text-light">We provide Booking spaces for our visitors in Kenya</p>
            <p class="text-light">we are available every day</p>
        </div>

        <div class="col-md-4">
            <h3 class="text-light">Contact Us</h3>
            <form action="">
            <input type="number" placeholder="Enter phone number" class="Form-control">
            <br><br>
            <input type="email" placeholder="Enter Emai" class="form-control">
            <br>
            <textarea name="" id="" cols="30" rows="5" placeholder="Leave a Comment" class="form-control"></textarea>
            <br>
            <button type="button" class="btn btn-danger">Send Message</button>
            </form>
        </div>

        <div class="col-md-4">
            <h4 class="text-light">Stay Connected</h4>
            <a href="https://www.facebook.com/">
            <img src="/static/images/face.jpeg" alt="facebook" style="height: 50px;">
            </a>
            <a href="https://www.instagram.com/">
            <img src="/static/images/ins.jpeg" alt="instagram" style="height: 50px;">
            </a>
            <a href="https://www.twiter.com">
            <img src="/static/images/x.png" alt="twitter-x-icon" style="height: 50px;">
            </a>
            <br><br>

            
            <p style="color: aqua;">lets us make our lakes clean and beautiful</p>
            <p  class="text-light">You are all welcome, you can get us on the social media above</p>
        </div>
    </section>


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(211, 99, 39);">
            created by Remick Tukei © 2020 Copyright:
            <a class="text-light" href="https://mdbootstrap.com/">LakeView.com</a>

            <div class="modal" id="mymodal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                      <h4>Log In</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                  <div class="modal-body">
                <form action="">
                  <input type="email" placeholder="Enter Email" class="form-control">
                  <br>
                  <input type="password" placeholder="Enter password" class="form-control">
                  <br>
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Send Message</button>
                </form>
              </div>
        </div>
                </div>
            </div>
        </div>
        
        <!-- Copyright -->
    
    
</div>
<div class="modal-footer">

</div>
  
</body>
</html>